@import "../../../App.scss";

.day4 {
  display: flex;
  flex-direction: column;

  &__results {
    display: flex;
    margin-bottom: $main-padding;

    &__container {
      text-align: center;
      width: 50%;

      h2 {
        margin-bottom: $button-padding;
      }

      h3 {
        font-weight: normal;
        margin-bottom: $button-padding;
      }

      span {
        color: $color--red-light;
        font-weight: bold;
        font-size: $font-xl;
      }
    }
  }

  &__checker {
    display: flex;
    flex: 1;

    &__section {
      display: flex;
      flex-direction: column;
      padding: $button-padding;
      width: 50%;

      h3 {
        margin-bottom: $button-padding;
      }

      textarea {
        box-sizing: border-box;
        height: 100% !important;
        margin-bottom: $button-padding;
        resize: none;
      }

      p {
        margin-bottom: $button-padding;

        span {
          font-weight: bold;
          margin-right: $button-padding;
        }
      }

      div {
        width: fit-content;

        span {
          margin-left: $button-padding;
        }
      }
    }
  }

  .valid {
    color: $color--green-light;
  }

  .invalid {
    color: $color--red-light;
  }
}
