@import "../../../App.scss";

.aoc-day--day-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .expense-report {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;

    h2 {
      margin: 0 auto $main-padding;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    width: 50%;

    .pair, .product {
      text-align: center;

      h3 {
        margin: 0 auto $main-padding;
      }

      p {
        background: $color--red-light;
        color: $color--white;
        font-size: $font-xl;
        padding: $main-padding;
        margin: 0 auto;
        width: fit-content;
      }

      .numbers {
        display: flex;
        flex-direction: row;
        justify-content: center;

        p {
          background: $color--gray-light;
          color: $color--text;
          margin: 0;

          + p {
            margin-left: $main-padding;
          }
        }
      }
    }

    .product {
      margin-top: 2 * $main-padding;
    }
  }
}
